body{
    background-color: white;
}
#gteco{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
.opcoes{
     display: inline-block;
     background-color: white;
     text-align: center;
}
.opcoes > img{
    width: 100px;
    height: 100px;
}