body {
  background-color: gray;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#gteco {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
.opcoes {
  display: inline-block;
}
.rodapé {
  text-align: center;
  position: static;
}
.fotos {
  width: 100%;
  height: 700px;
}
header {
  color: black;
}
 a{
    color: black;
  }
  #lista-header {
    gap: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
@media screen and (max-width: 900px) {
  body {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #gteco {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
  }
  .opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rodapé {
    text-align: center;
    position: static;
  }
  #mercado {
    font-size: 15px;
  }
  .fotos {
    width: 100%;
    height: 400px;
  }
  header {
    color: black;
  }

  #lista-header {
    gap: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  a{
    color: black;
  }
}
