body{
    background-color: blue;
    height: 2000px;
    margin: 0px;
    padding: 0px;
}
.menu{
    background-color: white;
    width: 100%;
    height: 150px;
}
#menu1{
    position: sticky;
    background-color: coral;
    top: 5px;
}
#menu1 > ul{
    list-style: none;
    text-align: center;
}

#menu1 > ul > li {
color: whitesmoke;
font-size: 30px;
width: 200px;
height: 50px;
background-color: firebrick;
display: inline-block;
line-height: 50px;
position: relative;
top: 50%;
}
#menu1 > ul > li :hover {
    color: wheat;
    background-color: aquamarine;
}