p {
  background-color: greenyellow;
}
body{
      background-image: url("./MESSSSSSSSSSSSSSSSSSSSSSIIIIIIIIIIIIIIIIIIIII.jpg");
       background-repeat: repeat-x;
       background-size: 300px 100px;
}
