*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#E5D8C5;
}
header{
    position: sticky;
    top: 0px;
}
#navegaçao{
    width: 80%;
    background-color: rgb(122, 56, 30);
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    color: white;
    font-size: 30px;
    overflow: auto;
    position: sticky;
    top: 0px;
}
.simbolo{
    color: black (0, 0, 0);
    font-size: 40px;
}
#item-menu{
    list-style: none;
    float: right;
}
li{
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
}li:hover{
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 90px;
    transform: scaleX(1,1);
    transform: scaleY(1,1);
}
#logo{
    float: left;
}
main{
    background-color: teal;
    height: 2000px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    font-size: 30px;
    color: darkgreen;
}
#bloco{
    background-color: cadetblue;
    height: 200px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 200px;
    margin-top: 20px;
}
#linha-bloco{
    background-color: slateblue;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}
.mini-bloco{
    background-color: darkgreen;
    width: 30%;
    margin-top: 5px;
    display: inline-block;
    height: 200px;
    line-height: 200px;
}
#linha{
    background-color: dodgerblue;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    color: rgb(81, 255, 0);
}
.mini-linha{
    background-color: slategrey;
    margin-top: 5px;
    height: 200px;
    line-height: 200px;
    width: 50%;
    display: inline;
}
@media screen and (max-width: 900px){
       body{
        background-color: rgb(180, 164, 153);
       }
        #navegaçao{
            width: 90%;
            background-color: aqua;
            padding: 5px;
            font-size: 25px;
        }
        #logo{
            font-size: 35px;
            float: none;
            text-align: center;
        }
        .simbolo{ 
            font-size: 40px
        }
        #item-menu{
            float: none;
            text-align: center;
            font-size: 30px;
            margin-left: 7px;
        }
}
@media screen and (max-width: 500px){
    body{
        background-color: rgb(153, 74, 42);
    }    
    #navegaçao{
        width: 100%;
        background-color: rgb(170, 24, 175);
        padding: 5px;
    }
    #logo{
        font-size: 40px;
        text-align: center;
    }
    .simbolo{
        font-size: 60px;
        float: none;
    }
    li{
        display: block;
       width: 50%;
       margin-top: 5px;
       margin-left: auto;
       margin-right: auto;
       font-size: 25px;
    }
    main{
        width: 100%;
        padding: 0px;
    }
    .mini-bloco{
        width: 80%;
        font-size: 20px; 
    }
    .mini-linha{
        font-size: 20px;
        line-height: 100px;
    }
}
