*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#E5D8C5;
}
#navegaçao{
    width: 80%;
    background-color: rgb(122, 56, 30);
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    color: white;
    font-size: 30px;
    overflow: auto;
}
.simbolo{
    color: black (0, 0, 0);
    font-size: 40px;
}
#item-menu{
    list-style: none;
    float: right;
}
li{
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
}li:hover{
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 90px;
    transform: scaleX(1,1);
    transform: scaleY(1,1);
}
#logo{
    float: left;
}

@media screen and (max-width: 900px){
       body{
        background-color: rgb(180, 164, 153);
       }
        #navegaçao{
            width: 90%;
            background-color: aqua;
            padding: 5px;
            font-size: 25px;
        }
        #logo{
            font-size: 35px;
            float: none;
            text-align: center;
        }
        .simbolo{ 
            font-size: 40px
        }
        #item-menu{
            float: none;
            text-align: center;
            font-size: 30px;
            margin-left: 7px;
        }
}
@media screen and (max-width: 500px){
    body{
        background-color: rgb(153, 74, 42);
    }    
    #navegaçao{
        width: 100%;
        background-color: rgb(170, 24, 175);
        padding: 5px;
    }
    #logo{
        font-size: 40px;
        text-align: center;
    }
    .simbolo{
        font-size: 60px;
        float: none;
    }
    li{
        display: block;
       width: 50%;
       margin-top: 5px;
       margin-left: auto;
       margin-right: auto;
       font-size: 25px;
    }

}
