body{
    background-color: red;
    height: 2000px;
}
.pai{
    width: 200px;
    height: 200px;
    border: 3px solid white;
}
.filho{
    width: 50px;
    height: 50px;
    border: 3px solid black ;
}
/* TIPO ESTÁTICO (que é o padrão) */
#p-estatico{
    background-color: aqua;
    position: static;
}
#f-estatico{
    background-color: yellow;
    position: static;
}
/* TIPO FIXO */
#p-fixo{
    background-color: white;
    position: fixed;
    right: 80px;
    bottom:30px;
}
#f-fixo{
    background-color: black;
}
/* TIPO STICK */
#p-stick{
    background-color: darkseagreen;
    width: 1000px;
    height: 1000px;
}
#f-stick{
    background-color: fuchsia;
    position: sticky;
    top: 50%;
    left: 50%;
}
/* TIPO RELATIVO */
#p-relativo{
background-color: cornsilk;
}
#f-relativo{
    background-color: greenyellow;
    position: relative;
    left: 80px;
    top: 50px;
}
/* TIPO ABSOLUTA COM PAI ESTATICO]*/
#p-absoluta{
    background-color: blueviolet;
    position: static;

}
#f-absoluta{
    background-color: tomato;
    position: absolute;
    top: 100px;
}
/* TIPO ABSOLUTA COM PAI NÃO ESTATICO */
#p-absoluta-relativa{
    background-color: blue;
    position: relative;
}
#f-absoluta-com-pai{
    background-color: yellow;
    position: absolute;
    top: 100px;
}