body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#principal{
    width: 90%;
    height: 800px;
    margin: auto;
    background-color: blueviolet;
    /* background-image: url("https://s2.glbimg.com/vQUwjUDx6v57SmklTZnJp69PQl0=/690x470/s2.glbimg.com/OC7QFKuhYoPg4c-V3WoREXChwkY=/185x105:1615x1078/690x470/s.glbimg.com/es/ge/f/original/2017/04/02/gol_tupi.jpg"); */
background-image: linear-gradient(blue 25%, rgb(141, 13, 13) 75%);
    background-repeat: repeat;
    background-position: center;
}

#secundario{
    width: 90%;
    height: 2000px;
    margin: auto;
    background-color: rgb(0, 247, 255);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7oIS9uASYbqbQUU3YBLU520ee10UdfYBE0tq9xmDhamE6t9vkUOFaPolkzRGiYK1rGzU&usqp=CAU" ); 
    background-size: auto;
    background-repeat: repeat-y;
    background-position: 50%;
    background-attachment: fixed;
}